{{ if mode == 'fixed' }}
<div class="container fixed left-0 right-0 mx-auto top-4 lg:top-8 z-50"">
    <div id="header" class="bg-blue-600 bg-opacity-90 rounded-[42px] p-3 lg:p-4 xl:p-5">
{{ elseif mode == 'absolute' }}
    <div class="container absolute left-0 right-0 mx-auto top-4 lg:top-8 z-50"">
        <div id="header" class="bg-blue-600 bg-opacity-90 rounded-[42px] p-3 lg:p-4 xl:p-5">
{{ else }}
<div class="container">
    <div id="header" class="bg-blue-600 rounded-[42px] p-3 lg:p-4 xl:p-5 my-3 md:my-6 xl:my-8">
{{ /if }}
        <div class="grid grid-cols-2 items-center lg:grid-cols-4 xl:grid-cols-3 2xl:grid-cols-12">
            <div class="flex ml-2 xl:ml-3 2xl:col-span-2">
                <a href="/" title="Back to homepage">
                    <img src="{{ site_config:logo:url }}" alt="{{ site_config:logo:alt }}" class="max-w-[160px] lg:max-w-[240px]">
                </a>
                 </div>
            <div class="relative z-50 col-span-1 lg:col-span-2 xl:col-span-1 2xl:col-span-8">
                <div class="lg:hidden flex justify-end">
                    {{ partial:blocks/menu_button }}
                </div>
                <div class="hidden lg:flex justify-end">
                    {{ partial:blocks/menu_block }}
                </div>               
            </div>
            <div class="hidden lg:flex justify-end order-3 z-10 2xl:col-span-2">
                {{ partial:buttons/yellow :link_url="site_config:book_now_url:url" }}
                    {{ "Book now" | trans }}
                {{ /partial:buttons/yellow }}
            </div>
        </div>
    </div>
</div>
