<div class="container my-basic">
    <div class="flex flex-col xl:flex-row items-center justify-between gap-x-4 bg-salt-blue p-4 xl:p-6 rounded-2xl lg:rounded-[48px]">
        <div class="mb-3 xl:mb-0 lg:text-lg xl:text-xl font-serif font-bold tracking-widest text-white">
            {{ text }}
        </div>
        <div class="flex flex-col md:flex-row md:flex-end gap-y-3 md:gap-y-0 md:gap-x-4 xl:gap-x-6">
            <a 
            href="tel:{{ site_config:telephone }}" 
                class="flex rounded-[32px] xl:rounded-[24px] font-bold justify-between text-white group
                border border-white py-2 px-4 xl:px-6 hover:bg-salt-yellow hover:border-salt-yellow transition-colors duration-300 hover:text-black"
            >
                {{ svg src="phone" class="w-6 h-6 mr-6 stroke-white group-hover:stroke-black" }}
                <span>{{ site_config:telephone }}</span>
            </a>
            <a 
                href="/contact" 
                class="flex group rounded-[32px] xl:rounded-[24px] font-bold justify-between bg-salt-yellow py-2 px-4 
                xl:px-6 transition-colors duration-300 hover:bg-salt-cream hover:text-black border border-salt-yellow hover:border-salt-cream"
            >
                {{ svg src="email" class="w-6 h-6 mr-6 stroke-black" }}
                <span">{{ "CONTACT US" | trans }}</span>
            </a>
        </div>
    </div>
</div>