<div class="p-y-basic m-y-basic">
    <div class="container grid grid-cols-12">
        <div class="col-span-12 lg:col-span-4 mb-8 lg:mb-0">
            <div class="bg-az-blue h-2 w-12 mb-8 xl:mb-12"></div>
            <div class="font-wide text-lg xl:text-xl 2xl:text-2xl leading-none xl:leading-none 2xl:leading-none">
                {{ intro_text }}
            </div>
        </div>
    <div class="col-span-12 mt-4 lg:mt-0 lg:col-span-8 lg:pl-8">
        <div class="flex flex-col gap-y-2 lg:gap-y-4">
            {{ items }}
                <div class="grid grid-cols-12 bg-gray-200 rounded-lg items-center 2xl:items-start p-4 lg:p-6 xl:p-8 shadow">
                    <div class="col-span-1 font-wide font-bold text-xl lg:text-2xl">
                        {{ index + 1 }}
                    </div>
                    <div class="col-span-11 2xl:col-span-3 uppercase font-wide font-medium xl:text-lg">
                        {{ title }}
                    </div>
                    <div class="col-span-11 2xl:col-span-8 leading-snug">
                        {{ text }}
                    </div>
                </div>
            {{ /items }}
        </div>
    </div>
</div>